/*----CONTENEDOR FLEXIBLE-----*/
.container-flex {
  background-color: aqua;
  padding: 16px;
  display: flex;        /*flex-wrap:nowrap; por defecto*/
  flex-direction: row;
  gap: 16px;
  justify-content: space-around;
  flex-wrap: wrap;
}


/*------- LOS DIV CON CLASE FLEX.------*/
.container-flex div {
  font-size: 20px;
  font-weight: 400;
  color: white;
  min-width: 200px;
  width: 400px;
}


/*----LOS ITEMS FLEXIBLES------*/
.item-flex1 {
  background-color: brown;
  text-align: center;
}

.item-flex2 {
  background-color: chartreuse;
  text-align: center;
  order: -2;
}

.item-flex3 {
  background-color: chocolate;
  text-align: center;
  order: -1;
}


button {
  display: inline-block;
}

.f-item-0 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.f-item-1 {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.f-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  font-size: 26px;
  padding: 60px;
  align-items: left;
}

.f-item-3 {
  text-align: left;
  display: flex;
  flex-direction: row;
}
.f-item-4 {
  text-align: left;
}
